// Kamusi item
.kamusi-item {
  font-size: 14px;

  .title {
    font-size: 21px;
    font-weight: 500;

    &.sm {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .pronounce {
    font-weight: 400;
  }

  .type {
    margin-top: 2px;
    font-style: italic;
    font-size: 95%;
  }

  .type-definitions {
    margin-bottom: 2px;
    margin-left: 20px;
  }

  ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 20px;

    li.no-style {
      list-style-type: none;
    }
  }

  .part {
    margin-top: 2px;

    .synonyms {
      color: #777;

      span {
        font-style: italic;
      }
    }

    .definition {
      font-size: 14px;
    }

    .example {
      font-size: 14px;
      color: #777;
    }
  }
}

.no-results {
  text-align: center;
  margin: 50px 20px;
  font-size: 32px;
  color: #777;
  font-weight: 300;
}